<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ZP Cruiser"
        android:theme="@style/Theme.ZPCruiser">
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_MAPS_API_KEY_HERE" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ZPCruiser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>